*.hdf5
*.o
*.a
*.h5
.depend
linear_dataset500.txt
linear_dataset5000.txt
linear_dataset50000.txt
linear_dataset500000.txt
linear_dataset600000.txt
linear_dataset1000000.txt
linear_dataset_Regression_700000.txt
linear_dataset_Regression_1000000.txt
SUSY_Training_Dataset.txt
SUSY_Test_Dataset.txt
SUSY_Dataset.txt
SUSY_Dataset_Normalized.txt
HIGGS_Dataset_Normalized.txt
HIGGS_Dataset.txt
MNIST_test.txt
MNIST_train.txt
AMNIST_train.txt
